#html{
    background: black;
    width: 100vw;
    height: auto;
}
#fullContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
#topbar{
    display: flex;
    flex-direction: row;
}
