/*Container and sidebar stuff*/
html{
  margin: 0;
}
body{
  margin: 0;
}
#container{
  background-color: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: row;
  margin: 0;
}
#sideBar{
  background-color: #a00;
  width: 12.5vw;
  height: 100vh;
  display: flex;
}